.pageTitle {
    font-size: 34px;
    display: block;
    width: max-content;
    margin: 20px auto;
}

* {
}

.cards {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}
