header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    background-color: #495774;
    height: 60px;
    z-index: 100;
}

header .left h1 {
    width: 100%;
    font-size: 26px;
    color: #fff;
    font-family: cursive;
}

header a {
    color: white;
    font-family: cursive;
    font-size: 17px;
}