.app {
  background-color: #39445a;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 60px;
  height: calc(100vh - 115px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width:1330px) {
  .app {
    padding: 0 30px;
  }
}

@media screen and (max-width:600px) {
  .app {
    padding: 0 10px;
  }
}

/* width */
.app::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.app::-webkit-scrollbar-track {
  background: #64708a;
  /* border-radius: 3px; */
}

/* Handle */
.app::-webkit-scrollbar-thumb {
  background: #495774;
}